 body {background-image:url(back.jpg);
            overflow:scroll;}
      #a {position:absolute;
          z-index:1;}
      #c {position:relative;
           top:130px;
           left:200px;
          z-index:3;}
      #d {position:absolute;
          z-index:1;
          left:400px;}  
      #main {position:relative;
             top:50px;
             left:20%;}
      img {border:double 4px rgb(0,51,0);}
  